.App {
  text-align: center;
}

body {
  background-color: whitesmoke;
  font-family: Roboto;
  margin: 16px;
}
.phone-name {
  padding: 16px;
  font-size: 36px;
  margin-bottom: 0px;
}

.phone-price {
  font-size: 24px;
  color: red;
  margin-top: 0px;  
}

.final-price {
  font-size: 32px;
  color: green;
  margin-top: 0px;  
}

.phone-img {
  height: 340px;
  width: 550px;
  object-fit: contain;
}

.phone-container {
  background-color: white;
  width: 550px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
}

.phone-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 24px;
}

.product{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.input{
  margin-top: 20px;
  width: 300px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;

}

/* Navbar */
.navbar-nav a{
  font-size: 18px;
}
.card-img{
  height: 750px;
  object-fit:fill;
}